In [12]:
import pandas as pd
import numpy as np
import math

In [3]:
data=pd.read_csv('test_scores.csv')

In [4]:
data

     name  math  cs
0   david    92  98
1   laura    56  68
2  sanjay    88  81
3     wei    70  80
4    jeff    80  83
5   aamir    49  52
6  venkat    65  66
7   virat    35  30
8  arthur    66  68
9    paul    67  73

In [7]:
X=data[['math']]

In [9]:
Y=data[['cs']]

In [11]:
x=np.array(X)
y=np.array(Y)

In [39]:
def gradient_descent(x,y):
    m_curr = b_curr = 0
    cost_previous=0
    n = len(x)
    learning_rate = 0.08
    iterations = 10000    
    for i in range(iterations):
            y_predicted = m_curr * x + b_curr
            cost = (1/n) * sum([val**2 for val in (y-y_predicted)])
            md = -(2/n)*sum(x*(y-y_predicted))
            bd = -(2/n)*sum(y-y_predicted)
            m_curr = m_curr - learning_rate * md
            b_curr = b_curr - learning_rate * bd
            if math.isclose(cost, cost_previous, rel_tol=1e-20):
                break
            cost_previous = cost
            print ("m {}, b {}, cost {} iteration {}".format(m_curr,b_curr,cost, i))
    return  m_curr,b_curr

In [40]:
m,b=gradient_descent(x,y)

m [791.344], b [11.184], cost [5199.1] iteration 0
m [-597932.445952], b [-8437.306112], cost [2.95790905e+09] iteration 1
m [4.52390989e+08], b [6383625.8292009], cost [1.69319487e+15] iteration 2
m [-3.42274867e+11], b [-4.82979263e+09], cost [9.69234969e+20] iteration 3
m [2.58962021e+14], b [3.65417675e+12], cost [5.54818848e+26] iteration 4
m [-1.95928287e+17], b [-2.76471657e+15], cost [3.17594767e+32] iteration 5
m [1.48237543e+20], b [2.09175917e+18], cost [1.81800666e+38] iteration 6
m [-1.12155164e+23], b [-1.58260578e+21], cost [1.04068094e+44] iteration 7
m [8.48555668e+25], b [1.197385e+24], cost [5.95716641e+49] iteration 8
m [-6.42009426e+28], b [-9.05930495e+26], cost [3.41005877e+55] iteration 9
m [4.85738436e+31], b [6.85418693e+29], cost [1.95201879e+61] iteration 10
m [-3.6750524e+34], b [-5.18581489e+32], cost [1.11739346e+67] iteration 11
m [2.7805109e+37], b [3.92353992e+35], cost [6.39629165e+72] iteration 12
m [-2.10370901e+40], b [-2.96851428e+38], cost [3.66142708e+78] iteration 13
m [1.59164692e+43], b [2.24595064e+41], cost [2.09590947e+84] iteration 14
m [-1.20422544e+46], b [-1.69926563e+44], cost [1.19976076e+90] iteration 15
m [9.11105912e+48], b [1.28564877e+47], cost [6.86778647e+95] iteration 16
m [-6.89334366e+51], b [-9.72710054e+49], cost [3.9313247e+101] iteration 17
m [5.21544051e+54], b [7.35943494e+52], cost [2.25040688e+107] iteration 18
m [-3.9459544e+57], b [-5.56808089e+55], cost [1.28819965e+113] iteration 19
m [2.98547286e+60], b [4.21275887e+58], cost [7.37403695e+118] iteration 20
m [-2.25878135e+63], b [-3.18733468e+61], cost [4.2211175e+124] iteration 21
m [1.70897323e+66], b [2.41150815e+64], cost [2.41629287e+130] iteration 22
m [-1.29299345e+69], b [-1.82452492e+67], cost [1.38315772e+136] iteration 23
m [9.78266971e+71], b [1.3804188e+70], cost [7.91760507e+141] iteration 24
m [-7.40147806e+74], b [-1.04441219e+73], cost [4.53227201e+147] iteration 25
m [5.59989033e+77], b [7.90192669e+75], cost [2.59440695e+153] iteration 26
m [-4.2368256e+80], b [-5.97852517e+78], cost [1.4851155e+159] iteration 27
m [3.20554334e+83], b [4.52329724e+81], cost [8.50124165e+164] iteration 28
m [-2.42528466e+86], b [-3.42228516e+84], cost [4.8663629e+170] iteration 29
m [1.8349481e+89], b [2.58926952e+87], cost [2.78565048e+176] iteration 30
m [-1.38830488e+92], b [-1.95901754e+90], cost [1.59458897e+182] iteration 31
m [1.05037872e+95], b [1.48217468e+93], cost [9.12790029e+187] iteration 32
m [-7.94706897e+97], b [-1.12139975e+96], cost [5.22508089e+193] iteration 33
m [6.01267941e+100], b [8.48440756e+98], cost [2.9909913e+199] iteration 34
m [-4.54913802e+103], b [-6.41922485e+101], cost [1.71213215e+205] iteration 35
m [3.44183605e+106], b [4.85672657e+104], cost [9.8007523e+210] iteration 36
m [-2.60406155e+109], b [-3.67455472e+107], cost [5.61024135e+216] iteration 37
m [1.97020906e+112], b [2.78013436e+110], cost [3.21146857e+222] iteration 38
m [-1.49064208e+115], b [-2.10342413e+113], cost [1.83833987e+228] iteration 39
m [1.12780611e+118], b [1.59143138e+116], cost [1.05232028e+234] iteration 40
m [-8.53287745e+120], b [-1.20406237e+119], cost [6.02379343e+239] iteration 41
m [6.45589672e+123], b [9.10982529e+121], cost [3.44819805e+245] iteration 42
m [-4.88447217e+126], b [-6.89241016e+124], cost [1.97385085e+251] iteration 43
m [3.69554679e+129], b [5.21473423e+127], cost [1.12989078e+257] iteration 44
m [-2.79601676e+132], b [-3.94542003e+130], cost [6.46783e+262] iteration 45
m [2.11544061e+135], b [2.98506856e+133], cost [3.70237775e+268] iteration 46
m [-1.60052294e+138], b [-2.25847546e+136], cost [2.11935085e+274] iteration 47
m [1.21094096e+141], b [1.7087418e+139], cost [1.2131793e+280] iteration 48
m [-9.16186808e+143], b [-1.29281835e+142], cost [6.94459818e+285] iteration 49
m [6.93178525e+146], b [9.78134493e+144], cost [3.975294e+291] iteration 50
m [-5.24452507e+149], b [-7.40047575e+147], cost [2.27557621e+297] iteration 51
m [3.9679595e+152], b [5.59913199e+150], cost [1.30260733e+303] iteration 52
m [-3.00212172e+155], b [-4.23625185e+153], cost [inf] iteration 53

<ipython-input-39-e77cc76288d7>:9: RuntimeWarning: overflow encountered in square
  cost = (1/n) * sum([val**2 for val in (y-y_predicted)])

In [41]:
from sklearn.linear_model import LinearRegression
Regressor=LinearRegression()
Regressor.fit(x,y)

LinearRegression()

In [47]:
print("Using sklearn: Coef {} Intercept {}".format(Regressor.coef_,Regressor.intercept_))

Using sklearn: Coef [[1.01773624]] Intercept [1.91521931]

In [48]:
print("Using gradient descent function: Coef {} Intercept {}".format(m, b))

Using gradient descent function: Coef [2.27137773e+158] Intercept [3.20510925e+156]